<p>Entrer votre nom et votre age.</p>
<p>Vous devez avoir entre 10 ans et 110 ans pour vous inscrire.</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <span>Nom: </span
    ><input
      name="name"
      type="text"
      formControlName="name"
      [ngClass]="{
        'border-red': showNameRequiredError()
      }"
    />
  </div>
  <div>
    <span>Age: </span
    ><input
      name="age"
      type="number"
      formControlName="age"
      [ngClass]="{
        'border-red':
          showAgeRequiredError() || showAgeMinError() || showAgeMaxError()
      }"
    />
  </div>
  <br />
  <div *ngIf="showNameRequiredError()" class="text-red">Entrer un nom</div>
  <div *ngIf="showAgeRequiredError()" class="text-red">Entrer votre age</div>
  <div *ngIf="showAgeMinError()" class="text-red">
    Votre age devrait être supérieur à 10
  </div>
  <div *ngIf="showAgeMaxError()" class="text-red">
    Votre age devrait être inférieur à 110
  </div>
  <button type="submit">Soumettre</button>
</form>
